.inputBlock {
  display: flex;
  justify-content: space-between;
  margin-right: auto;
  margin-bottom: 48px;
  margin-left: auto;
  width: 567px;
  height: 86px;
}

.inputSubBlock {
  width: 377px;
  height: 86px;
  display: flex;
  flex-direction: column;
}

.subscript {
  margin: 0;
  padding: 0;
  padding-left: 16px;
  text-align: left;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}

.circlesBlock {
  width: 944px;
  height: 80px;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 16px;
  row-gap: 70px;
  list-style: none;
  flex-wrap: wrap;
}

.calculateButton {
  width: 178px;
}

.input {
  color: #7A7A7A;
}